* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(141, 82, 55);
    display: flex;
}

.info {
    width: 24vw;
    height: 100vh;
    background-color: rgb(128, 61, 34);
}

.b {
    color: antiquewhite;
    margin-left: 20px;
    margin-top: 10px;
}

.foto {
    height: 200px;
    width: 200px;
    margin-left: 19%;
    margin-top: 20px;
    border-radius: 100%;
}

.gran {
    margin-top: 10px;
}

.titulo {
    margin-left: 350px;
}

.stitulo {
    margin-left: 334px;
}

.texto {
    margin-top: 20px;
    width: 1000px;
    margin-left: 20px;
}

.boton {
    margin-top: 21%;
    margin-left: 93%;
}